body {
    background-image: url(assets/background-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:white;
    font-family: 'Bangers', cursive;
}

p {
    color: white;
    padding: 30px 10px;
    margin: 0 10px;
}
footer {
    color: white;
    text-align: center;
    margin-top: 400px 
}
.container {
    padding-top: 100px;
}
